<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1>HEJSAN admin</h1>

<h2>Orders</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">ID</td>
        <td th:text="${order.orderDate}">DATE</td>
        <td th:text="${order.status}">STATUS</td>
        <td>
            <form th:action="@{/admin/updateOrder}" method="post">
                <input type="hidden" name="orderId" th:value="${order.id}" />
                <select name="newStatus" class="form-control">
                    <option value="">Select new status</option>
                    <option th:each="status : ${orderStatuses}"
                            th:value="${status}"
                            th:text="${status}"
                            th:selected="${status == order.status}">
                    </option>
                </select>
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h2>Add New Product</h2>
<!-- You can add a form for adding new products here -->
</body>
</html>