<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
</head>
<body>
<h1>Shopping Cart</h1>

<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cartItem : ${cartItems}">
    <td th:text="${cartItem.product.name}"></td>
    <td th:text="${cartItem.product.price}"></td>
    <td>
      <form th:action="@{/cart/update}" method="post">
        <input type="hidden" name="userId" th:value="${userId}"/>
        <input type="hidden" name="productId" th:value="${cartItem.product.id}"/>
        <label>
          <input type="number" name="quantity" th:value="${cartItem.quantity}" min="1"/>
        </label>
        <button type="submit">Update</button>
      </form>
    </td>
    <td>
      <form th:action="@{/cart/remove}" method="post">
        <input type="hidden" name="userId" th:value="${userId}"/>
        <input type="hidden" name="productId" th:value="${cartItem.product.id}"/>
        <button type="submit">Remove</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<h3>Total: <span th:text="${total}"></span> SEK</h3>

<a th:href="@{/home(userId=${userId})}">Continue shopping</a>

<form th:action="@{/order/place}" method="post">
  <input type="hidden" name="userId" th:value="${userId}"/>
  <button type="submit">Proceed to Checkout</button>
</form>


</body>
</html>