<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>

<h1>Bronx' Vinyl</h1>

<h2>Genre</h2>
<ul>
  <li th:each="category : ${categories}">
    <a th:href="@{/dashboard(categoryId=${category.id})}" th:text="${category.name}"></a>
  </li>
</ul>


<h2>Releases</h2>
<ul>
  <li th:each="product : ${products}">
    <span th:text="${product.name}"></span> -
    <span th:text="${product.price}"></span> SEK
  </li>
</ul>

</body>
</html>
