<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <input type="text" name="email" />
    <input type="password" name="password" />
    <button type="submit">Login</button>
</form>

<p style="color: red;">
    <span th:if="${errorMessage}" th:text="${errorMessage}"></span>
</p>

<p>Don't have an account? <a href="/register">Register here</a></p>
<p>For admin: <a href="/admin">Login here</a></p>

</body>
</html>
